<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>
<body>

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-3">Get user's media</h1>
    <div class="row">
        <div class="form-group">
            <div class="col-xs-12 col-sm-5">
                <input id="user" class="form-control" type="text" name="user" placeholder="@username" value=""/>
            </div>
            <div class="col-xs-12 col-sm-2">
                <input id="submit" type="submit" value="Search" class="btn btn-primary" />
            </div>
        </div>
        <!-- <div class="form-group">
            <div class="col-xs-12 col-sm-5">
                <input id="text" class="form-control" type="text" name="toneInput" placeholder="..." value=""/>
            </div>
            <div class="col-xs-12 col-sm-2">
                <input id="submit" type="submit" value="Analyze" class="btn btn-primary" />
            </div>
        </div> -->
    <!--<p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>-->
    </div>
  </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12">
            <div id="userMedia">
                <!-- user-media-template -->  
            </div>   
        </div>
    </div>
</div>

<script id="user-media-template" type="text/x-handlebars-template">
    <div class="document">
        <div>@{{items.0.user.username}}</div>
        <img src="{{items.0.user.profile_picture}}" />
        <hr/>
        {{#each items}}
            <img src="{{images.low_resolution.url}}" />
            <div>{{caption.text}}</div>
            <div>{{likes.count}} likes</div>
            <div>{{comments.count}} comments</div>
            <br/>
        {{/each}}
    </div>
</script> 

<script id="analyzed-tone-template" type="text/x-handlebars-template">
    <div class="document">
        {{#each document_tone.tone_categories}}
            <div>Document {{category_name}}</div>
            <ul>
            {{#each tones}}
                <div>{{tone_name}} - {{score}}</div>
            {{/each}}
            </ul>
        {{/each}}
    </div>
    {{#each sentences_tone}}
        <div class="sentance">
            <div>Text - {{text}}</div>
            {{#each tone_categories}}
                <div>Sentence {{category_name}}</div>
                <ul>
                {{#each tones}}
                    <li>{{tone_name}} - {{score}}</li>
                {{/each}}
                </ul>
            {{/each}}
        </div>
    {{/each}}
</script> 

<script>
$(function () {
    var source   = $("#analyzed-tone-template").html();
    var template = Handlebars.compile(source);

    var source   = $("#user-media-template").html();
    var template = Handlebars.compile(source);

    $('#submit').click(function (e) {
        e.preventDefault();

        var user = $('#user').val();
        var data = {user: user};

        $.ajax({
            type: 'POST',
            data: JSON.stringify(data),
            contentType: 'application/json',
            url: 'http://localhost:5000/get-media',
            success: function (data) {
                var parsedData = $.parseJSON(data);
                var html = template(parsedData);
                $('#userMedia').html(html);
            }
        });
    });

    // $('#submit').click(function (e) {
    //     e.preventDefault();

    //     var text = $('#text').val();
    //     var data = {text: text};

    //     $.ajax({
    //         type: 'POST',
    //         data: JSON.stringify(data),
    //         contentType: 'application/json',
    //         url: 'http://localhost:5000/analyze-tone',
    //         success: function (data) {
    //             var parsedData = $.parseJSON(data);
    //             var html = template(parsedData);
    //             $('#result').html(html);
    //         }
    //     });
    // });
    });
</script>

</body>
</html>