<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

<div class="container">

<div class="row">
<div class="col-xs-12 text-center">
<div class="form-group">
<div class="form-control">
<input id="text" type="text" name="toneInput" placeholder="text" value=""/>
</div>
<div class="form-control">
<input id="submit" type="submit" value="Analyze" />
</div>
</div>
</div>
</div>

<div class="row">
<div class="col-xs-12 text-center">
<label>Result: </label><span id="result"></span>
</div>
</div>

</div>

<script>
$(function () {
        $('#submit').click(function (e) {
            e.preventDefault();

            var text = $('#text').val();

            var data = {text: text};
            $.ajax({
                type: 'POST',
                data: JSON.stringify(data),
                contentType: 'application/json',
                url: 'http://localhost:5000/analyze-tone',
                success: function (data) {
                  var decoded = decodeURIComponent((data+'').replace(/\+/g, '%20'));

                    var result = JSON.stringify(decoded, null, 2);
                    $('#result').html('');
                    $('#result').html(result);
                }
            });
        });
    });
</script>

</body>
</html>